{% extends 'base.html' %}
{% block title %}Entrar/Criar{% endblock %}
{% block content %} 
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row g-lg-5 min-vh-75">
        <div class="col-lg-7"></div>
        <div class="col-md-10 mx-auto col-lg-5 surface-card auth-card shadow-sm">
            {% block content_auth %}{% endblock %}
        </div>
    </div>
</div> 
<footer class="auth-footer text-muted py-4">
    <div class="container text-center">
        <small>Copyright© 2025 {{ app_name }}</small>
    </div>
</footer>
{% endblock %}
