<footer class="nav-bottom py-2 bg-light mt-auto fixed-bottom">
    <div class="container-fluid px-4">
        <div class="d-flex flex-wrap align-items-center justify-content-between gap-2">
            <div class="text-muted">
                <span>{{ core }}</span>
            </div>
            <div class="text-muted">
                <span>Release {{ release }} - Patch {{ patch }}</span>
            </div>
            <div class="text-muted">
                <span>{{ app_name }} &copy; 2025</span>
            </div>
            <div class="text-muted d-flex gap-2">
                <a class="text-muted" href="#">Política de Privacidade</a>
                &middot;
                <a class="text-muted" href="#">Termos &amp; Condições</a>
            </div>
        </div>
    </div>
</footer>
