{% extends "base_dashboard.html" %}
{% block content_dash %} 
<div class="surface-card p-4">
    <div class="d-flex flex-wrap gap-5 justify-content-center align-items-center">
        <div class="d-flex flex-column align-items-center align-items-md-start">  
            <img src="{{ perfil.perfil.foto_url }}" class="img-thumbnail border rounded" width="280" alt="">
            {% if user == perfil %}
            <a class="btn btn-warning mt-3" href="{% url 'atualizar_meu_usuario' %}">
                <i class="fas fa-cog"></i> Editar Perfil
            </a>
            {% endif %}
        </div> 
        <div class="perfil-info mt-3"> 
            <h2 class="mb-3">{{perfil.first_name}} {{perfil.last_name}}</h2>
            <p><strong>Data Criação:</strong> {{perfil.date_joined|date:'d/m/Y'}}</p>
            <p><strong>Ocupação:</strong> {{perfil.perfil.ocupacao}}</p>
            <p><strong>Descrição:</strong> {{perfil.perfil.descricao}}</p>
            <p><strong>Genero:</strong> {{perfil.perfil.genero}}</p>
            <div class="d-flex flex-wrap gap-3"> 
                <p class="mb-0"><strong>Telefone:</strong> {{perfil.perfil.telefone}}</p>
                <p class="mb-0"><strong>Cidade:</strong> {{perfil.perfil.cidade}}</p>
                <p class="mb-0"><strong>País:</strong> {{perfil.perfil.estado}}</p>   
            </div>
        </div>
    </div> 
</div>
{% endblock %}
