{% extends 'base_dashboard.html' %}
{% block title %}Configurações{% endblock %}
{% block content_dash %}
<div class="settings-cards-wrapper">
    <div class="surface-card settings-card">
        <h4>Contas</h4>
        <p>Configurações do aplicativo contas</p>
        <ul>
            <li><a href="{% url 'atualizar_meu_usuario' %}">Atualizar meu usuário</a></li>
            <li><a href="{% url 'password_change' %}">Alterar minha senha</a></li>
            {% if can_manage_users %}
            <li><a href="{% url 'lista_usuarios' %}">Lista de usuários</a></li>
            {% endif %}

        </ul>
    </div>
    <div class="surface-card settings-card">
        <h4>Sistema</h4>
        <p>Configurações de logo,Banner,informações empresa.</p>
        <ul>
            {% if can_manage_users %}
            <li><a href="{% url 'editar-informacoes-empresa' %}">Redes sociais</a></li>
            <li><a href="#">Pagina Inicial</a></li>
            <li><a href="#">Alterar Logo</a></li>
            {% endif %}
            <li><a href="#">Tags/Metas/Robot</a></li>
        </ul>
    </div>
</div>
{% endblock %}
