{% extends 'base_dashboard.html' %}
{% block title %}Relatórios{% endblock %}
{% block content_dash %} 
<div class="row row-cols-1 row-cols-md-3 g-4">  
	<div class="col" style="width: 25rem;">   
		<div class="surface-card h-100 d-flex flex-column">
			<div class="text-center">
				<h2 class="mb-2">Postagens</h2>
				<p class="mb-0">Lista de Postagens</p>
			</div>
			<div class="mt-auto pt-4">
				<div class="d-grid w-100">  
					<button class="btn btn-secondary btn-lg" 
						onclick="location.href='{% url 'dash-lista-postagem-forum' %}'">
						Acessar</button> 
				</div>
			</div>
		</div> 
	</div>  
	<!-- Outros -->
	
</div>
{% endblock %}
